<div class="row registeration">

  <div class="registerInner">
    <h1 class="headerSign">Add new job</h1>
    <form #trvForm="ngForm" (ngSubmit)="addNewJobSubmitHandler()">

      <div class="form-group">
        <input id="IdPostion" type="text" class="form-control" placeholder="Postion" [(ngModel)]="newJob.Postion" name="postion"
          #trvPostion="ngModel">
        <div *ngIf="trvPostion.errors && (trvPostion.dirty || trvPostion.touched)" class="errorMessage">
          <div [hidden]="!trvPostion.errors.required">
            Postion is required
          </div>
        </div>
      </div>

      <div class="form-group">
        <select class="form-control" id="idRecuterManager" name="recruitingManager" aria-placeholder="Recuter Manager" [(ngModel)]="RecruitingManager"
          #trvRecruitingManager="ngModel" required>
            <option *ngFor="let recutManager of dataService.RecuterManagers" [value]="recutManager.Name">{{ recutManager.Name }}</option>
          </select>
        <div *ngIf="trvRecruitingManager.errors && (trvRecruitingManager.dirty || trvRecruitingManager.touched)" class="errorMessage">
          <div [hidden]="!trvRecruitingManager.errors.required">
            Recuter Manager is required
          </div>
        </div>
      </div>

      <div class="form-group">
        <input id="IdMinimumReqYears" type="number" class="form-control" title="Insert Minimum Requst Years" required placeholder="Minimum Requst Years"
          [(ngModel)]="newJob.MinimumReqYears" min="0" step="1" name="minimumReqYears" #trvMinimum="ngModel">
        <div *ngIf="trvMinimum.errors && (trvMinimum.dirty || trvMinimum.touched)" class="errorMessage">
          <div [hidden]="!trvMinimum.errors.required">
            Minimum Requst Years is required
          </div>
        </div>
      </div>
      <div class="form-group">
        <textarea id="IdDescription" [(ngModel)]="newJob.Description" name="description" required placeholder="Enter Description" class="form-control"
          required #trvDescription="ngModel"></textarea>
        <div *ngIf="trvDescription.errors && (trvDescription.dirty || trvDescription.touched)" class="errorMessage">
          <div [hidden]="!trvDescription.errors.required">
            Description is required
          </div>
        </div>
      </div>
      <div class="form-group">
        <label for="job">Skills</label>
        <div class="checkbox-inline" *ngFor="let skill of newArSkillSet">
          <label>
            <input type="checkbox" name="skill" required [(ngModel)]="skill.selected" (change)="skillSetArray(skill)"> {{skill.name}}
          </label>
        </div>
      </div>

      <button [disabled]="!trvForm.valid" title="Please fill all required fields!" class="btn btn-primary">Add Job</button>
    </form>
  </div>
</div>