<div class="container">
    <button *ngIf="authService.isUserAdmin()" (click)="addFormToggle = !addFormToggle" type="button" class="btn">
        <i class="glyphicon glyphicon-plus" *ngIf="!addFormToggle"></i>
        {{addFormToggle ? 'Applicatns' : 'Add'}}
    </button>
    <br>
    <add-new-applicant *ngIf="addFormToggle"></add-new-applicant>
    <div class="container" *ngIf="!addFormToggle">

        <div class="card applicant-card" *ngFor="let applicant of arAllApplicants | paginate: { itemsPerPage: 6, currentPage: p }">
            <div class="card-body">
                <div class="card-title">{{applicant.FirstName}}
                </div>
                <span [hidden]="applicant.IsActive" class="card-text">
                    {{applicant.FirstName}}, {{applicant.LastName}}, {{applicant.Experience}},{{applicant.City}},{{applicant.Email}},{{applicant.PhoneNumber}}
                </span>
                <span [hidden]="!applicant.IsActive" class="card-text">
                    {{applicant.FirstName}}, {{applicant.LastName}}, {{applicant.Experience}},{{applicant.City}}
                </span>
            </div>
            <div (click)="goToApplicantDetail(applicant)" *ngIf="!applicant.IsActive">
                <i class="fa fa-file-word-o" title="View CV" aria-hidden="true"></i>
            </div>
        </div>
        <pagination-controls (pageChange)="p = $event"></pagination-controls>
    </div>