<div class="container">
  <h3>Add new applicant</h3>
  <form #formAddApplicant="ngForm" (ngSubmit)="addApplicant(formAddApplicant.value)">
    <div class="form-group">
      <label for="FirstName">First name</label>
      <input type="text" class="form-control" name="FirstName" [(ngModel)]="newApplicant.FirstName" required #trvFirstName="ngModel">
    </div>
    <div class="form-group">
      <label for="LastName">Last name</label>
      <input type="text" class="form-control" name="LastName" [(ngModel)]="newApplicant.LastName" required #trvLastName="ngModel">
    </div>
    <div class="form-group">
      <label for="job">Skillset</label>
      <div class="checkbox" *ngFor="let skill of newArSkillSet">
        <label>
          <input type="checkbox" name="skill" [(ngModel)]="skill.selected" (change)="skillSetArray(skill)"> {{skill.name}}
        </label>
      </div>
    </div>
    <button [disabled]="!formAddApplicant.valid" class="btn btn-primary">Add Appicant</button>
  </form>
</div>
<!-- <div *ngIf="currentUpload">
  <progress class="progress is-success" min=1 max=100 value="{{ currentUpload?.progress }}"></progress>

  Progress: {{currentUpload?.name}} | {{currentUpload?.progress}}% Complete
</div>
<div class="box">

  <h3>Single File Upload</h3>

  <label>
    <input type="file" class="button" (change)="detectFiles($event)">
  </label>

  <button class="button is-primary" [disabled]="!selectedFiles" (click)="uploadSingle()">

    Upload Single
  </button>

  <hr>

  <h3>Multiple File Upload</h3>

  <label>
    <input type="file" class="button" (change)="detectFiles($event)" multiple>
  </label>


  <button class="button is-primary" [disabled]="!selectedFiles" (click)="uploadMulti()">

    Upload Multiple
  </button>
</div> -->