<div class="brand">
 <h4>Search By {{dataService.SearchBy}}</h4>
<input type="text" name="Search" [(ngModel)]="dataService.SearchInput" placeholder="Search" >
<br>


 <div class="brand">
  Skillset : </div>
<div class="menu-list">
  <ul id="menu-content">
    <li *ngFor="let skill of newArSkillSet | filter">
      <div class="checkbox-inline">
        <label>
          <input type="checkbox" name="skill" [(ngModel)]="skill.selected" (change)="skillSetArray(skill)"> {{skill.name}}
        </label>
      </div>
    </li>
  </ul>
</div> 
