button{
    text-decoration: none;
}

.details li {
    list-style: none;
  }
  li {
      margin-bottom:10px;
  }

  .card-content{
overflow: auto;
/* width: 100%; */
  }

  .rightIcons{
float: right;
  }

  .Isize{
    font-size: 250%;
  }

  .container{
    margin-top: 4%;
    width: 100%;
    margin-left: 17%;
  }

