<div class="container">
  <div class="card">
    <div class="card-block">
      <h4 class="card-title">Name : {{applicant.FirstName +" "+applicant.LastName}}</h4>
      <i class="fa fa-pencil-square-o" (click)="goToEditApplicant(applicant)" *ngIf="toggleEditIcon" aria-hidden="true"></i>
      <h6 class="card-subtitle mb-2 text-muted">Title : {{applicant.Position}}</h6>
      <button type="button" class="btn btn-xs" (click)="lockToggle()">
          <i title="{{manger}}" class="fa {{ applicant.IsActive ? 'fa-lock' : 'fa-unlock' }}" aria-hidden="true"></i>
        </button>
      <span class="emailIcon"><a class="mailto" href="mailto:{{applicant.Email}}"><i class="fa fa-envelope" title="Send mail to {{applicant.FirstName}}" aria-hidden="true"></i></a></span>
    </div>
  </div>
  <br>
  <div class="card">
    <div class="card-block">
      <div class="form-group">
        <label for="IdSkills">Skills : </label>
        <br>
        <ul class="checkbox-inline" *ngFor="let skill of applicant.Skills">
          <li>{{skill}}</li>
        </ul>
      </div>
    </div>
  </div>
  <br>
  <div class="card">
    <div class="card-block">
      <h4 class="card-title">CV :</h4>
      <div class="card-content">

        <button class="fa fa-cloud-download" class="btn" (click)="downloadCV()" style="float:right">
          Download CV
        </button>

      </div>
    </div>
  </div>
</div>
<br>
<div class="card">
  <div class="card-block">
    <h4 class="card-title">Interview Summary :</h4>
    <div class="card-content">
      Interview Summary
    </div>
  </div>
</div>
