.container{
    width: 80%;
}

.emailIcon{
position: absolute;
left: 445px;
color: gold;
}

.mailHvr:hover{
color: rgb(19, 208, 241);
}
a{
    text-decoration: none;
}

 /* .details li {
    list-style: none;
    margin-left: 20%;
  }
  li {
      margin-bottom:10px;    
      margin-left: 20%;
  }

  .container{
      width: 100%;
    }  */