<div *ngIf = "toggleAfterUpdate" class="container">
    <h3>Edit job</h3>
    <form #trvForm="ngForm" (ngSubmit)="onSubmitEditForm()">
        <div class="form-group">
          <label for="IdPostion">Postion</label>
          <input id="IdPostion" type="text" class="form-control" required [(ngModel)]="editJob.Postion" name="Postion" #trvPostion="ngModel">
          <div *ngIf="trvPostion.errors && (trvPostion.dirty || trvPostion.touched)" class="alert alert-danger">
            <div [hidden]="!trvPostion.errors.required">Postion is required</div>
          </div>
        </div>
  
        <div class="form-group">
          <label for="IdMinimumReqYears">Minimum Requst Years</label>
          <input id="IdMinimumReqYears" type="number" class="form-control" required [(ngModel)]="editJob.MinimumReqYears" name="minimumReqYears"
            #trvMinimumReqYears="ngModel">
          <div *ngIf="trvMinimumReqYears.errors && (trvMinimumReqYears.dirty || trvMinimumReqYears.touched)" class="alert alert-danger">
            <div [hidden]="!trvMinimumReqYears.errors.required">Minimum ReqYears is required</div>
          </div>
        </div>
        <div class="form-group">
          <label for="IdDescription">Description</label>
          <textarea id="IdDescription" class="form-control" required [(ngModel)]="editJob.Description" name="description"
            #trvDescription="ngModel"></textarea>
          <div *ngIf="trvDescription.errors && (trvDescription.dirty || trvDescription.touched)" class="alert alert-danger">
            <div [hidden]="!trvDescription.errors.required">Description is required</div>
          </div>
        </div>
        <div class="form-group">
          <label for="IdSkills">Skills : </label>
          <br>
          <div class="checkbox-inline" *ngFor="let skill of newArSkillSet">
            <label>
              <input type="checkbox" class="checkbox checkbox-primary" (change)="skillSetArray(skill)" name="skill" [checked]="skill.selected"> {{skill.name}}
            </label>
          </div>
        </div>
      <br>
      <div class="modal-footer">
        <button data-dismiss="modal" [disabled]="!trvForm.valid" class="btn btn-primary">Edit Job</button>
      </div>
    </form>
  </div>
  
  <h1 style="color:green"> {{ jobEditedMessage }} </h1>