.logo-Img{
    padding-top: 20px;
    padding-bottom: 20px;
    padding-left: 60px;
    width:70%; 
    height:70%;
}
ul{
    display: inline-block;
}

.homeIcon{
 font-size: 40px;
 color: #009edb;
}

.icons{
    font-size: 25px;
    height: 100%;
}
.button{
    font-size: 40px;
    background-color: white;
    border: 0 solid white;
    margin-top: 5%;
}


.iconsH[tabindex]:focus {
    color:rgb(163, 153, 10);
    outline: none;
}

button:hover{
    background-color: lightgray;
    height: 100%;
}
