.logo-Img{
    padding-top: 20px;
    padding-bottom: 20px;
    padding-left: 60px;
    width:70%; 
    height:70%;
}
ul{
    display: inline-block;
}

.nav-bar{
    background-color: #009688;
    color: #FFFFFF;
}


