<div *ngIf="jobIsArchived">
    <h1 *ngIf="!addFormBooli" class="jobstitel"><i>Jobs</i></h1>
  <button type="button" *ngIf="authService.isUserAdmin()" (click)="addFormBooli = !addFormBooli" class="btn">
    <i style="color:#009edb" class="glyphicon glyphicon-plus" *ngIf="!addFormBooli"></i>
    {{addFormBooli ? 'Jobs' : 'Add Job'}}
  </button>
  <span *ngIf="authService.isUserAdmin()" class="arspan" ><i *ngIf="!addFormBooli" class="fa fa-archive archv" title="All archivedd jobs" (click) ="onClickArchived()"aria-hidden="true"></i></span>
  <div *ngIf="addFormBooli">
    <add-new-job (onClickAdd)="onClickAdddForm($event)"></add-new-job>
  </div>
  <br/>
  <br/>
  <br/>
  <div *ngIf="!addFormBooli">
    <div>
      <div style="cursor:pointer" class="container" *ngFor="let Job of arNotArchivedJobs | paginate: { itemsPerPage: 6, currentPage: p }">

        <div *ngIf="!Job.IsArcheive" class="JobCard">
          <div style="display: block;">
            <div class="JobIcons">
              <div (click)="goToJobDetail(Job)">
                <i class="fa fa-info-circle" title="View job details" aria-hidden="true"></i>
              </div>
            </div>
           <div (click)="archivedJob(Job)">
              <i class="fa fa-archive" aria-hidden="true"></i>
            </div>
            <div class="JobTitel">{{Job.Postion}}</div>
            <br/>
            <article>
              <br/>
              <br/>
              <p>Rectuter : {{Job.RecruitingManager}}</p>
              <p>MinimumReqYears - {{Job.MinimumReqYears}}</p>
              <p class="Description">{{Job.Description}}</p>
              <p class="Skills">{{Job.Skills}}</p>
            </article>
            <div class="clear"></div>
          </div>
        </div>
      </div>
      <pagination-controls (pageChange)="p = $event" *ngIf="arNotArchivedJobs?.length > 0"></pagination-controls>

    </div>
  </div>
</div>

 <!-- archive -->
<h1 *ngIf="!jobIsArchived" class="jobstitel"><i>Jobs that arvhived!</i></h1>
<br>
  <div *ngIf="!jobIsArchived">
    <div style="cursor:pointer" class="container" *ngFor="let Job of arArchivedJobs | paginate: { itemsPerPage: 6, currentPage: p }">
      <div *ngIf="Job.IsArcheive == true" class="JobCard">
        <div style="display: block;">
          <div class="JobIcons">
            <div (click)="goToJobDetail(Job)">
              <i class="fa fa-info-circle" title="View job details" aria-hidden="true"></i>
            </div>
          </div>
         <div (click)="unArchivedJob(Job)">
            <i class="fa fa-archive" title="Unarchive job" aria-hidden="true"></i>
          </div>
          <div class="JobTitel">{{Job.Postion}}</div>
          <br/>
          <article>
            <br/>
            <br/>
            <p>Rectuter : {{Job.RecruitingManager}}</p>
            <p>MinimumReqYears - {{Job.MinimumReqYears}}</p>
            <p class="Description">{{Job.Description}}</p>
            <p class="Skills">{{Job.Skills}}</p>
          </article>
          <div class="clear"></div>
        </div>
      </div>
    </div>
    <pagination-controls (pageChange)="p = $event" *ngIf="arNotArchivedJobs?.length > 0"></pagination-controls>
  </div>