<div class="container">
  <button type="button" *ngIf="authService.isUserAdmin()" (click)="addFormBooli = !addFormBooli" class="btn">
    <i class="glyphicon glyphicon-plus"></i>
    {{addFormBooli ? 'Jobs' : 'Add'}}
  </button>
</div>
<div class="container" *ngIf="addFormBooli">
  <add-new-job (onClickAdd)="onClickAdddForm($event)"></add-new-job>
</div>
<div class="container" *ngIf="!addFormBooli">
  <div class="card job-card" *ngFor="let Job of arNotArchivedJobs | paginate: { itemsPerPage: 6, currentPage: p }">
    <div class="card-body">
      <h4 class="card-title">{{Job.Postion}}
        <div (click)="archivedJob(Job)">
          <i class="glyphicon glyphicon-remove"></i>
        </div>
        <div (click)="goToJobDetail(Job)"><i class="fa fa-info-circle" title="View job details" aria-hidden="true"></i></div>
      </h4>
      <p class="card-text">
        {{Job.Description}}, {{Job.MinimumReqYears}}, {{Job.Skills}}
      </p>
    </div>
  </div>
  <pagination-controls (pageChange)="p = $event"></pagination-controls>
</div>
