div{
    display: inline-block; 
}
.job-card{
    width:25%; 
    height:50%;
    display: inline-block;
    margin: 10px;
    padding: 10px;
}

.darts-icon{
    font-size: 48px !important;
    height: 48px !important;
    width: 48px !important;
}

#left, #right{
    margin: 30px;
}

.first-card{
    padding: 20px;
    display: inline-block; 
}

