<div class="container">
  <h2>Job details</h2>
  <div>
    <button class="fa fa-pencil-square-o editJob" title = "Click to edit this job" (click)="goToEditJob()" *ngIf="toggleEditIcon" aria-hidden="true"></button>
    <span style="color:red">{{ notpermissionMessage }}</span>
  </div>

  <div class="card">
    <p class="card-title">Position: {{ pickedJob.Postion }}</p>
  </div>
  <br>
  <div class="card">
    <p class="card-title">Recuter manager: {{ pickedJob.RecruitingManager }}</p>
  </div>
  <br>
  <div class="card">
    <p class="card-title">Minimum required years: {{ pickedJob.MinimumReqYears }}</p>
  </div>
  <br>
  <div class="card">
    <p class="card-block">Description:</p>
    <p class="card-title"> {{ pickedJob.Description }}</p>
  </div>
  <br>
  <div class="card">
    <div class="card-block">
      <div class="form-group">
        <p>Skills: </p>
        <br>
        <ul class="checkbox-inline" *ngFor="let skill of pickedJob.Skills">
          <li>{{skill}}</li>
        </ul>
      </div>
    </div>
  </div>
  <br>
  <div>
    <a [routerLink]="['/matching-applicants-to-job']">See which applicants are suitable for the job</a>
  </div>
</div>